In [25]:
import re
import pandas as pd
import keras
best_model = keras.models.load_model("Sentiment_analysis_BiLSTM.hdf5")

In [26]:
f = open('WhatsApp Chat with Avinash Vnr.txt','r',encoding='utf-8')

In [27]:
data = f.read()

In [28]:
pattern = '\d{1,2}/\d{1,2}/\d{2,4},\s\d{1,2}:\d{2}\s-\s'

In [29]:
messages = re.split(pattern,data)[1:]
len(messages)

91

In [30]:
dates = re.findall(pattern,data)
len(dates)

91

In [31]:
df = pd.DataFrame({'user_message':messages, 'message_date': dates})
#convert message_date type
df['message_date'] = pd.to_datetime(df['message_date'], format='%d/%m/%y, %H:%M - ')
df.rename(columns={'message_date': 'date'}, inplace=True)
df.head()

                                        user_message                date
0  Messages and calls are end-to-end encrypted. N... 2023-04-19 21:49:00
1                           Avinash Vnr: Hello bro\n 2023-04-19 21:50:00
2          Sriharsha Prathapa: Hello how do you do\n 2023-04-19 21:51:00
3                           Avinash Vnr: Yeah find\n 2023-04-19 21:51:00
4                      Avinash Vnr: Fine... My bad\n 2023-04-19 21:51:00

In [32]:
df['year'] = df['date'].dt.year

In [33]:
df['month'] = df['date'].dt.month_name()

In [34]:
df['day'] = df['date'].dt.day

In [35]:
df['hour'] = df['date'].dt.hour

In [36]:
df['minute'] = df['date'].dt.minute

In [37]:
df.head()

,user_message,date,year,month,day,hour,minute
0,Messages and calls are end-to-end encrypted. N...,2023-04-19 21:49:00,2023,April,19,21,49
1,Avinash Vnr: Hello bro\n,2023-04-19 21:50:00,2023,April,19,21,50
2,Sriharsha Prathapa: Hello how do you do\n,2023-04-19 21:51:00,2023,April,19,21,51
3,Avinash Vnr: Yeah find\n,2023-04-19 21:51:00,2023,April,19,21,51
4,Avinash Vnr: Fine... My bad\n,2023-04-19 21:51:00,2023,April,19,21,51

In [38]:
df=df[1:]

In [39]:
df

,user_message,date,year,month,day,hour,minute
1,Avinash Vnr: Hello bro\n,2023-04-19 21:50:00,2023,April,19,21,50
2,Sriharsha Prathapa: Hello how do you do\n,2023-04-19 21:51:00,2023,April,19,21,51
3,Avinash Vnr: Yeah find\n,2023-04-19 21:51:00,2023,April,19,21,51
4,Avinash Vnr: Fine... My bad\n,2023-04-19 21:51:00,2023,April,19,21,51
5,Sriharsha Prathapa: As a daily wage worker how...,2023-04-19 21:51:00,2023,April,19,21,51
...,...,...,...,...,...,...,...
86,Avinash Vnr: In every match there will be a ga...,2023-04-19 22:02:00,2023,April,19,22,2
87,Sriharsha Prathapa: I think you should be seri...,2023-04-19 22:03:00,2023,April,19,22,3
88,Avinash Vnr: It's been days since I fucked my ...,2023-04-19 22:03:00,2023,April,19,22,3
89,Sriharsha Prathapa: Great greater greatest\n,2023-04-19 22:03:00,2023,April,19,22,3
90,Avinash Vnr: Gonna do it tonight\n,2023-04-19 22:03:00,2023,April,19,22,3

In [40]:
df1=df

In [41]:


# iterate over each sentence in the dataframe column
for sentence in df['user_message']:
    # split the sentence into username and message using ':'
    split_sentence = sentence.split(':')
    if len(split_sentence)==1:
        r=df.index[df['user_message']==sentence].tolist()[0]
        df=df.drop(index=r)

In [42]:
df

,user_message,date,year,month,day,hour,minute
1,Avinash Vnr: Hello bro\n,2023-04-19 21:50:00,2023,April,19,21,50
2,Sriharsha Prathapa: Hello how do you do\n,2023-04-19 21:51:00,2023,April,19,21,51
3,Avinash Vnr: Yeah find\n,2023-04-19 21:51:00,2023,April,19,21,51
4,Avinash Vnr: Fine... My bad\n,2023-04-19 21:51:00,2023,April,19,21,51
5,Sriharsha Prathapa: As a daily wage worker how...,2023-04-19 21:51:00,2023,April,19,21,51
...,...,...,...,...,...,...,...
86,Avinash Vnr: In every match there will be a ga...,2023-04-19 22:02:00,2023,April,19,22,2
87,Sriharsha Prathapa: I think you should be seri...,2023-04-19 22:03:00,2023,April,19,22,3
88,Avinash Vnr: It's been days since I fucked my ...,2023-04-19 22:03:00,2023,April,19,22,3
89,Sriharsha Prathapa: Great greater greatest\n,2023-04-19 22:03:00,2023,April,19,22,3
90,Avinash Vnr: Gonna do it tonight\n,2023-04-19 22:03:00,2023,April,19,22,3

In [43]:
usernames = []
messages = []
for sentence in df['user_message']:
    split_sentence = sentence.split(':')
    usernames.append(split_sentence[0])
    if split_sentence[1]:
        messages.append(split_sentence[1])
df['username'] = usernames
df['message'] = messages
df=df.drop('user_message',axis=1)

In [44]:
for sen in df['message']:
    if sen==" <Media omitted>\n" or sen==" You deleted this message\n" or sen==" This message was deleted\n":
        r=df.index[df['message']==sen].tolist()[0]
        df=df.drop(index=r)
df

,date,year,month,day,hour,minute,username,message
1,2023-04-19 21:50:00,2023,April,19,21,50,Avinash Vnr,Hello bro\n
2,2023-04-19 21:51:00,2023,April,19,21,51,Sriharsha Prathapa,Hello how do you do\n
3,2023-04-19 21:51:00,2023,April,19,21,51,Avinash Vnr,Yeah find\n
4,2023-04-19 21:51:00,2023,April,19,21,51,Avinash Vnr,Fine... My bad\n
5,2023-04-19 21:51:00,2023,April,19,21,51,Sriharsha Prathapa,As a daily wage worker how much do you earn.\n
...,...,...,...,...,...,...,...,...
86,2023-04-19 22:02:00,2023,April,19,22,2,Avinash Vnr,In every match there will be a game changee\n
87,2023-04-19 22:03:00,2023,April,19,22,3,Sriharsha Prathapa,I think you should be serious with your life\n
88,2023-04-19 22:03:00,2023,April,19,22,3,Avinash Vnr,It's been days since I fucked my gf\n
89,2023-04-19 22:03:00,2023,April,19,22,3,Sriharsha Prathapa,Great greater greatest\n
90,2023-04-19 22:03:00,2023,April,19,22,3,Avinash Vnr,Gonna do it tonight\n

In [45]:
df2=df['message']

In [46]:
df2.to_csv('Messages.csv', encoding='utf-8', index=False)